/* 
    Document   : omshuman
    Created on : 07-sep-2012, 12:00:19
    Author     : andres
    Description:
        Purpose of the stylesheet follows.
*/

.cliente-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.cliente { font-size: 16px; }
form.cliente div { clear: left; margin-bottom: 10px; }
form.cliente label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.cliente input[type="text"],
form.cliente input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.cliente textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.cliente input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.cliente ul li { color: #ff0000; margin-bottom: 5px; }