{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}

<form action="{{ path('client_create') }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
    <fieldset>
	 <legend>Nuevo Cliente</legend>
  	 {% include 'TipddyOmsBundle:Cliente:_form.html.twig' %}
    </fieldset>
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}