<form action="{{ path('otec_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
         <fieldset style="width:70%">
             <legend>{{ entity.nombreOtec }}</legend>
            {% include 'TipddyOmsBundle:Otec:_form.html.twig' %}
        </fieldset>               
    <p>
        <button type="submit">Guardar Cambios</button>
    </p>
</form>

