{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<form action="{{ path('otec_create') }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
    <fieldset>
	 <legend>Nueva Otec</legend>
  	 {% include 'TipddyOmsBundle:Otec:_form.html.twig' %}
    </fieldset>        
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('otec') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
