{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}

<form action="{{ path('classbook_create') }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
    <fieldset>
	 <legend>Nuevo Libro</legend>
  	 {% include 'TipddyOmsBundle:LibroClase:_form.html.twig' %}
    </fieldset>
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('classbook') }}">
            volver a Listado
        </a>
    </li>
</ul>
{% endblock %}
