{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}


<form action="{{ path('participant_create') }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
    <fieldset>
	 <legend>Nuevo Participante</legend>
  	 {% include 'TipddyOmsBundle:Participante:_form.html.twig' %}
    </fieldset>        
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('participant') }}">
            Volver a Listado
        </a>
    </li>
</ul>
{% endblock %}
