{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}

<form action="{{ path('purchaseorder_create') }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
    <fieldset>
	 <legend>Nueva Orden</legend>
  	 {% include 'TipddyOmsBundle:OrdenCompra:_form.html.twig' %}
    </fieldset>
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('purchaseorder') }}">
            Volver a Listado
        </a>
    </li>
</ul>
{% endblock %}
